html {
    height: 100%
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#info {
    color: black;
}   

#main {
    background: slategrey;
}

.chill {
    color: lightgray;
}

.rage {
    color: darkred;
}

.revenge {
    color: peachpuff;
}

.disgusted {
    color: plum;
}

.happy {
    color: lightgoldenrodyellow;
}

.sad {
    color: darkslateblue;
}

.shock {
    color: lightskyblue;
}
