
#mainLeft {
    background-color: #4E5F82;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#logo {
    width: 50%;
    margin: auto;
    margin-top: 200px;
    display: block;
}
