html {
    height: 100%
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#info {
    color: white;
    background: #4E5F82;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}   

#main {
    background: lightgray;
}

#logo {
    padding-top: 22%;
}

.chill {
    color:  #a278ef;
}

.rage {
    color: #df4c3b;
}

.revenge {
    color: #32783b;
}

.bored {
    color: #9b8c70;
}

.happy {
    color: #f2e16a;
}

.sad {
    color: #545452;
}

.shock {
    color: #eb9144;
}

iframe {
    margin: 2.5px;
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    #info {
        grid-row-start: 1;
        grid-row-end: 3;
    }   
}
