html {
    height: 100%
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#info {
    color: black;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}   

#main {
    background: lightgray;
}

.chill {
    color: palegreen;
}

.rage {
    color: darkred;
}

.revenge {
    color: peachpuff;
}

.bored {
    color: plum;
}

.happy {
    color: lightgoldenrodyellow;
}

.sad {
    color: darkslateblue;
}

.shock {
    color: lightskyblue;
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    #info {
        grid-row-start: 1;
        grid-row-end: 3;
    }   
}
