body {
    background: #4E5F82;
    height: auto;
    position: relative;
}

#logo {
    width: 100%;
    margin: auto;
}

#startButton {
    position: absolute;
    background: none;
    border: none;
    color: white;
    left: 60%;
    bottom: 27%;
    font-size: 20px;
}